<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <h1>HOME</h1>
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <div sec:authorize="isAuthenticated()">
                This content is only shown to authenticated users.
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a href=""> ADMIN </a>
            </div>
            <div sec:authorize="hasAuthority('USER')">
                <p>USER</p>
            </div>
            Logged user:
            <span sec:authentication="name"></span>
            <p>
                Roles: <span sec:authentication="principal.authorities"></span>
            </p>

        </div>
    </div>
</div>
</body>
</html>