<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <form th:action="@{/login}" method="POST" class="form-signin">
                    <h3 class="form-signin-heading" th:text="Welcome"></h3>
                    <br/>

                    <input type="text" id="email" name="email"  th:placeholder="Email" class="form-control" required/> <br/>
                    <input type="password"  th:placeholder="Password" id="password" name="password" class="form-control" required/> <br />
                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" id="login" name="Submit" value="Login" type="Submit" th:text="Login"></button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-md-offset-3">

                <button id="portal-button" class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
            </div>
        </div>
    </div>
</div>
<script>

    document.getElementById("portal-button").addEventListener("click", function() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        console.log(email);
        console.log(password);
        var data= {
            "email": email,
            "password": password
        }


        $.ajax({
            type: "POST",
            url: "portalregister",
            contentType:"application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function(data) {
                if (data.success) {
                    document.getElementById("login").click();
                }
            },
            error: function(data){
                alert('Error while request..');
                console.log(data + " error")
            }
        });
    });



</script>
</body>
</html>