<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <form th:action="@{/register}" th:object="${user}" method="POST" class="form-signin">
                    <h3 class="form-signin-heading" th:text="Kaydol"></h3>
                    <br/>

                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                    <input type="text" th:field="*{email}"  placeholder="Email" class="form-control" /> <br/>

                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                    <input type="text" th:field="*{name}"  placeholder="Name" class="form-control" /> <br/>

                    <label th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="validation-message"></label>
                    <input type="text" th:field="*{lastname}"  placeholder="Last Name" class="form-control" /> <br/>

                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                    <input type="password" th:field="*{password}"  placeholder="password" class="form-control" /> <br/>

                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Register" type="Submit" th:text="Register"></button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-md-offset-3">

                <form th:action="@{/login}" method="get">
                    <button class="btn btn-md btn-warning btn-block" type="Submit">Back To Login Page</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>