
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<!-- HEADER -->
<div th:replace="header :: copy"></div>
<!-- HEADER -->


<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR -->
        <div th:replace="sidebar :: copy"></div>
        <!-- SIDEBAR -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">CV LIST</h1>
            <a class="btn btn-info" th:href="@{/home/resume}">Add New</a>

            <div class="col-xs-12">
                <h1 class="sub-header">CV Ara</h1>

                <form th:action="@{/home/resumes}" method="POST" th:object="${resumeSearchCriteria}">
                    <div class="form-group">
                        <input type="text"  th:field="*{firstName}" placeholder="Ad">
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{lastName}" placeholder="Soyad">
                    </div>
                    
                    <div class="form-group">
                        <select th:field="${resumeSearchCriteria.status}">
                            <option value="">Tümü</option>
                            <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" th:field="${resumeSearchCriteria.positions}" th:each="position : ${positions}" th:value="${position.id}" th:text="${position.name}">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Ara">
                    </div>

                </form>
            </div>

            <div class="table-responsive col-xs-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Cinsiyet</th>
                        <th>Durum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cv : ${cvs}">
                        <td><a th:href="'/home/resume?id=' + ${cv.id}" th:text="${cv.id}"></a></td>
                        <td th:text="${cv.firstName}">sit</td>
                        <td th:text="${cv.lastName}">sit</td>
                        <td th:text="${cv.sex}">sit</td>
                        <td th:text="${cv.status.name}">sit</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script th:src="@{/css/jquery.min.js}"><\/script>')</script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
