
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<!-- HEADER -->
<div th:replace="header :: copy"></div>
<!-- HEADER -->


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-ok">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR -->
        <div th:replace="sidebar :: copy"></div>
        <!-- SIDEBAR -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">CV</h1>
            <form class="" th:action="@{/home/resume}" th:object="${cv}" method="post">

                <div class="form-group">
                    <!--<h3 th:text="*{'# ' + id}" th:field="*{id}"></h3>-->
                </div>

                <input type="hidden" name="id" th:field="*{id}">

                <div class="form-group">
                    <label for="firstName">Ad:</label>
                    <input type="text" th:field="*{firstName}" th:value="*{firstName}">
                </div>

                <div class="form-group">
                    <label for="lastName">Soyad:</label>
                    <input type="text" th:field="*{lastName}" th:value="*{lastName}">
                </div>

                <div class="form-group">
                    <label for="sex">Cinsiyet:</label>
                    <input type="text" th:field="*{sex}">
                </div>

                <div class="form-group" th:object="${statuses}">
                    <label for="status">Durum:</label>
                    <select th:field="${cv.status}">
                        <option th:selected="${cv.status}" th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}">
                        </option>
                    </select>
                </div>

                <div class="form-group" th:object="${positions}">
                    <label for="position">Uygun oldugu pozisyonlar: </label>
                    <input type="checkbox" th:field="${cv.positions}" th:selected="${cv.positions}" th:each="position : ${positions}" th:value="${position.id}" th:text="${position.name}">
                </div>

                <div class="form-group" th:object="${technologies}">
                    <label for="technology">Teknolojiler: </label>
                    <div class="input-group">
                        <input type="checkbox" th:field="${cv.cvTechnologies}" th:each="technology : ${technologies}" th:value="${technology.id}" th:text="${technology.name}">
                        <!--<input type="text" th:each="technology : ${technologies}" th:field="${technology.cvTechnologies.}">-->
                        <!--<input type="text" th:each="tech : ${technologies}" th:value="tech.">-->
                        <!--<input class="tech-input" type="checkbox" th:field="${cv.cvTechnologies}"  th:each="cvTechnology : ${technologies}" th:value="${cvTechnology.technology}" th:text="${cvTechnology.technology.name}">-->
                        <!--<input class="tech-input" type="checkbox" th:each="technology : ${technologies}" th:field="${technology.cvTechnologies}" th:value="${technology.id}" th:text="${technology.name}">-->
                        <!--<input class="tech-experience" type="number" th:each="${cvTechnologies}" th:field="${cvTechnologies}" th:value="${}">-->
                    </div>
                </div>

                <div class="form-group" th:if="${param.id != null}">
                    <label>Created By:</label>
                    <input type="text" readonly th:field="*{createdBy}">
                </div>

                <div class="form-group" th:if="${param.id != null}">
                    <label>Last Modified By:</label>
                    <input type="text" readonly th:field="*{modifiedBy}">
                </div>

                <div class="form-group" th:if="${param.id != null}">
                    <label>Created At:</label>
                    <input type="text" readonly th:field="*{createdAt}">
                </div>

                <div class="form-group" th:if="${param.id != null}">
                    <label>Last Update:</label>
                    <input type="text" readonly th:field="*{updatedAt}">
                </div>

                <div class="form-group">
                    <input type="submit" th:value="Submit" value="Submit">
                </div>
            </form>

            <form class="hidden" th:id="delete-form" th:method="delete" th:object="${cv}">
                <input th:id="${'delete'}" type="submit" value="Delete">
            </form>

            <div th:if="${param.id != null}">
                <button class="btn btn-default" th:attr="data-record-title=${cv.firstName}" data-toggle="modal" data-target="#confirm-delete">
                    Delete
                </button>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script th:src="@{/css/jquery.min.js}"><\/script>')</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function() {
        // Bind click to OK button within popup
        $('#confirm-delete').on('click', '.btn-ok', function(e) {

            var $modalDiv = $(e.delegateTarget);

            $modalDiv.addClass('loading');

            $("#delete-form").submit();

        });

        // Bind to modal opening to set necessary data properties to be used to make request
        $('#confirm-delete').on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            $('.title', this).text(data.recordTitle);
            $('.btn-ok', this).data('recordId', data.recordId);
        });


        $('.tech-input').on("click", function(){
            if (this.checked) {
                console.log("checked");
            } else {
                console.log("nooo");
            }
        });

    });
</script>
</body>
</html>
