<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="copy" class="col-sm-3 col-md-2 sidebar">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a th:href="@{/home/resumes}">CV Listesi</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Kullanici Listesi</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/home/admin/positions}">CV Position</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/home/admin/statuses}">CV Status</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/home/admin/technologies}">CV Technologies</a></li>
            <li><a href="#">Export</a></li>
        </ul>
    </div>
</div>
</body>
</html>